---
layout: html
permalink: "{{ page.fileSlug | stripVersionPrefix }}/index.html"
discuss_url: "https://processwire.com/talk/topic/24641-processwiredev-%E2%80%94-tutorials-for-web-development-with-processwire/"
---

{{ content | safe }}

{% include "components/post-footer.njk" %}
