---
title: Homepage
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="canonical " href="{{ site.url + page.url }}">
</head>
<body>
    {{ content | safe }}
</body>
</html>
