---
eleventyExcludeFromCollections: true
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
    {%- for item in collections.all -%}
        {%- if item.url -%}
            <url>
                <loc>{{ site.url }}{{ item.url }}</loc>
                {#- @TODO add modified timestamps and format them -#}
                {#- {% if item.data.modified %} -#}
                    {# <lastmod>2020-01-01</lastmod> -#}
                {#- {% endif %} -#}
                <changefreq>{{ item.data.changefreq | default('monthly', true) }}</changefreq>
                <priority>{{ item.data.priority | default(0.8, true )}}</priority>
                {% if item.data.tags and ('post' in item.data.tags) %}
                    <image:image>
                        <image:loc>{{ site.url }}/preview-images/{{ item.fileSlug | stripVersionPrefix }}.png</image:loc>
                        {% if item.data.title %}
                            <image:title>{{ item.data.title }}</image:title>
                        {% endif %}
                        {% if item.data.description %}
                            <image:caption>{{ item.data.description }}</image:caption>
                        {% endif %}
                    </image:image>
                {% endif %}
            </url>
        {%- endif -%}
    {%- endfor -%}
</urlset>
