.skip-to-content {
    color: inherit;
    &:hover, &:focus {
        color: inherit;
        display: block;
        margin-bottom: 1.5rem;
    }
}

.article-notices {
    @include font-size($font-size-xs);
}

.article-links {
    &__link {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    &__icon {
        height: 1.5rem;
        margin-right: .5rem;
        path {
            fill: currentColor;
        }
    }
}

.post-footer {
    margin-top: 5rem;
    padding-top: 1rem;
    border-top: 1px solid $gray-500;
    @include stack(2rem);
}

.back-to-top {
    text-align: center;
    &__link {
        &, &:hover, &:focus {
            text-decoration: none;
        }
    }
    &__icon {
        width: 2.5rem;
        transition: transform 250ms ease-out;
        &:hover, &:focus {
            transform: scale(1.3);
            transition: transform 250ms ease-out;
        }
        path {
            fill: $primary;
        }
    }
}

.continue-reading {
    @include font-size($font-size-sm);
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    &__part {
        flex: 1 1 auto;
    }
    &__prev {
        text-align: left;
        margin-right: auto;
        padding-right: 1rem;
    }
    &__next {
        margin-left: auto;
        text-align: right;
    }
    &__label {
        font-weight: $font-weight-medium;
        display: block;
    }
}

.section-anchor {
    h2 > & {
        display: none;
    }
    h2:hover > & {
        display: initial;
    }
    &, &:hover, &:focus {
        text-decoration: none;
    }
}


.sidenote {
    display: block;
    padding: .5rem 1rem;
    border-left-width: .5rem;
    border-left-style: solid;
    @include font-size($font-size-base);
    @each $name, $color in $sidenote-colors {
        &--#{$name} {
            border-left-color: $color;
            background: rgba($color, $sidenote-bg-alpha);
        }
    }
}
