// some theme options

// @import "../../node_modules/prismjs/themes/prism-twilight";
@import "../../node_modules/prism-themes/themes/prism-a11y-dark";
// @import "../../node_modules/prism-themes/themes/prism-hopscotch";
// @import "../../node_modules/prism-themes/themes/prism-darcula";

// the articles use the prism language "bash" for shell sessions, so we include the $ sign before each line
// i'm not using the "shell-session" language, because i want to be able to copy lines without the $
code[class*="language-"],
pre[class*="language-"] {
    font-family: $font-family-mono;
}
code.language-bash, pre.language-bash {
    .highlight-line {
        &::before {
            content: "$" " ";
        }
    }
    .highlight-line-remove {
        &::before {
            content: unset;
        }
    }
}
