
.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 25rem 1fr 50rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "navigation space-left main space-right";
    justify-content: space-between;
    align-content: stretch;
    &__nav {
        grid-area: navigation;
        background: $aside-bg;
        color: $aside-color;
        padding: 2rem;
    }
    &__article {
        grid-area: main;
        background: $article-bg;
        color: $article-color;
        font-size: $font-size-lg;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding: 4rem 3rem;
        @include stack(1.25rem);
    }
}

.navigation {
    @include stack(2rem);
    &__link {
        color: inherit;
    }
}
