<a href="https://moritzlost.de">{{ translations.footer_credits }}</a>
<span class="footer__separator" aria-hidden="true">|</span>
<a href="{{ pkg.repository.url }}" class="footer__link">
    {%- fontawesome "github", "brands", ["footer__icon"] -%}
    {{- translations.footer_github_link -}}
</a>
<span class="footer__separator" aria-hidden="true">|</span>
<a href="/legal" class="footer__link">
    {{- translations.footer_imprint_link -}}
</a>
