<link rel="canonical" href="{{ site.url + page.url }}">
<meta property="og:url" content="{{ site.url + page.url }}">

<meta property="og:title" content="{{ title }}">

<meta property="og:locale" content="{{ site.lang }}">
<meta property="og:site_name" content="{{ site.name }}">

<meta property="og:image" content="{{ site.url }}/preview-images/{{ page.fileSlug | stripVersionPrefix }}.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:alt" content="{{ title }} | {{ description }}">

{% if description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
{% endif %}

<meta name="generator" content="Eleventy (11ty.dev)">

{%- if seo.twitter -%}
    {%- for name, value in seo.twitter -%}
        {% if value %}
            <meta name="twitter:{{ name }}" content="{{ value }}">
        {% endif %}
    {%- endfor -%}
{%- endif -%}
