---
eleventyExcludeFromCollections: true
pagination:
  data: collections.posts
  size: 1
  alias: currentPost
  resolve: values
permalink: "preview-images/{{ currentPost.fileSlug | stripVersionPrefix }}.html"
---

<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ currentPost.data.title }}</title>
     <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Fira+Sans:ital@0;1&display=swap" rel="stylesheet"> 
    <style>
        *, *::before, *::after {
            box-sizing: border-box;
        }
        body, html {
            margin: 0;
            padding: 0;
            background: #333;
            color: white;
            font-family: 'Fira Sans', sans-serif;
        }
        p, h1 {
            margin: 0 0 1rem 0;
        }
        #preview-image {
            padding: 0;
            margin: 1rem;
        }
        .content {
            position: relative;
            width: 1200px;
            min-height: 630px;
            padding: 80px 100px 40px 100px;
            display: grid;
            grid-auto-rows: min-content;
            justify-items: stretch;
            align-items: center;
            justify-content: stretch;
            align-content: space-between;
        }
        .border {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 40px;
            background-color: #E64A3C;
        }
        .border--top {
            top: 0;
        }
        .border--bottom {
            bottom: 0;
        }
        .title {
            font-size: 60px;
            line-height: 120%;
            font-family: 'Fira Code', monospace;
        }
        .line {
            margin: 16px 0;
            border: 0;
            border-bottom: 3px solid white;
        }
        .description {
            font-size: 40px;
            line-height: 140%;
        }
        .url {
            font-size: 28px;
            font-style: italic;
            margin-bottom: 16px;
        }
        .logo {
            width: 100%;
            margin-bottom: 0;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/balance-text/3.3.0/balancetext.min.js" defer></script>
    <script defer>
        window.onload = () => {
            balanceText(document.querySelector('.title'));
            // balanceText(document.querySelector('.description'));
        }
    </script>
</head>
<body>
    <main id="preview-image">
        <div class="content">
            <div class="border border--top"></div>
            <div class="text">
                <h1 class="title">{{ currentPost.data.title }}</h1>
                {% if currentPost.data.description %}
                    <p class="description">{{ currentPost.data.description }}</p>
                {% endif %}
                {# <p class="author">...</p> #}
                <hr class="line">
            </div>
            <div class="footer">
                <div class="url">
                    {% if currentPost.data.layout == 'homepage' %}
                        {{ site.url }}
                    {% else %}
                        {{ site.url }}/{{ currentPost.fileSlug | stripVersionPrefix }}
                    {% endif %}
                </div>
                <img class="logo" src="/assets/processwire-dev.svg">
            </div>
            {# <div class="border border--bottom"></div> #}
        </div>
    </main>
</body>
</html>

