<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/main.css?v={{ site.version }}">
    <script src="/js/main.js?v={{ site.version }}" defer></script>

    <link rel="canonical " href="{{ site.url + page.url }}">
</head>
<body>
    <main class="main">
        <aside class="main__nav">
            {% include "components/navigation.njk" %}
        </aside>
        <article class="main__article content">
            {{ content | safe }}
        </article>
    </main>
</body>
</html>
